<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between small">
        <div><a href="{{ path('impressum') }}">{{ 'impressum'|trans({}, 'footer') }}</a></div>
        <div>
            <a href="{{ path('quellen') }}">{{ 'quellen'|trans({}, 'footer') }}</a>
        </div>
        <div>
            <i class="fas fa-question-circle"></i><a href="{{ path('help_index') }}">{{ 'help'|trans({}, 'menu') }}</a>
        </div>
        <div>
            <span class="badge badge-light copyright"><i class="far fa-copyright"></i><a href="https://github.com/dknx01/partei-wahl-tool">dknx01/partei-wahl-tool</a></span>
        </div>
    </div>
</div>