{% extends 'base.html.twig' %}

{% block title %}{{ 'login'|trans({}, 'security') }}{% endblock %}

{% block body %}
    <div class="jumbotron">
{#        <h1 class="display-4">{{ 'link_sent_title'|trans({}, 'security') }}</h1>#}
{#        {{ 'link_sent'|trans({}, 'security') }}#}
        <a href="{{ link }}" target="_self">{{ 'link_click'|trans({}, 'security') }}</a>
    </div>
{% endblock %}
