{% extends 'base.html.twig' %}
{% block title %}{{ 'overview_my'|trans({}, 'plakate') }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="card-title">
            <input id="user_overview_search" type="text" placeholder="{{ 'search_field'|trans({}, 'plakate') }}">
            <h6><span class="badge badge-secondary badge-link">
                    {% if not activeOnly %}
                        <a href="{{ path('plakate_my', {"activeOnly": "active"}) }}">{{ 'active_only'|trans({}, 'plakate') }}</a>
                    {% else %}
                        <a href="{{ path('plakate_my') }}">{{ 'all'|trans({}, 'plakate') }}</a>
                    {% endif %}
                </span></h6>
            <div>
                <span class="badge badge-secondary badge-link">
                    {% if activeOnly %}
                        <a href="{{ path('plakate_my', {"activeOnly": "active"}) }}">{{ 'year_all'|trans({}, 'plakate') }}</a>
                    {% else %}
                        <a href="{{ path('plakate_my') }}">{{ 'year_all'|trans({}, 'plakate') }}</a>
                    {% endif %}
                </span>
                {% for year in years %}
                <span class="badge badge-secondary badge-link">
                    {% if activeOnly %}
                        <a href="{{ path('plakate_my', {"activeOnly": "active","year": year}) }}">{{ 'year'|trans({'{{year}}': year}, 'plakate') }}</a>
                    {% else %}
                        <a href="{{ path('plakate_my', {"year": year}) }}">{{ 'year'|trans({'{{year}}': year}, 'plakate') }}</a>
                    {% endif %}
                </span>
                {% endfor %}
            </div>
            {% if activeOnly %}
                {% if filteredYear %}
                    <a href="{{ path('plakate_my_export', {"activeOnly": "active", "year": filteredYear}) }}" target="_blank"><i class="fas fa-file-csv" data-toggle="tooltip" data-placement="right" title="{{ 'csv-export'|trans({}, 'plakate') }}"></i></a>
                {% else %}
                    <a href="{{ path('plakate_my_export', {"activeOnly": "active"}) }}" target="_blank"><i class="fas fa-file-csv" data-toggle="tooltip" data-placement="right" title="{{ 'csv-export'|trans({}, 'plakate') }}"></i></a>
                {% endif %}
            {% else %}
                {% if filteredYear %}
                    <a href="{{ path('plakate_my_export', {"year": filteredYear}) }}" target="_blank"><i class="fas fa-file-csv" data-toggle="tooltip" data-placement="right" title="{{ 'csv-export'|trans({}, 'plakate') }}"></i></a>
                {% else %}
                    <a href="{{ path('plakate_my_export') }}" target="_blank"><i class="fas fa-file-csv" data-toggle="tooltip" data-placement="right" title="{{ 'csv-export'|trans({}, 'plakate') }}"></i></a>
                {% endif %}
            {% endif %}
        </div>
        <table class="table table-striped" id="election_poster_overview"  style="position: sticky;top: 0">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'table.address'|trans({}, 'plakate') }}</th>
                <th scope="col">{{ 'table.city'|trans({}, 'plakate') }}</th>
                <th scope="col">{{ 'table.description'|trans({}, 'plakate') }}</th>
                <th scope="col">{{ 'table.createdAt'|trans({}, 'plakate') }}</th>
                <th scope="col">{{ 'table.active'|trans({}, 'plakate') }}</th>
                <th scope="col">{{ 'table.deletedAt'|trans({}, 'plakate') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for key, poster in posters %}
                <tr>
                    <th scope="row">{{ key }}</th>
                    <td><a href="{{ path('plakat_admin_edit', {id:poster.id}) }}">{{ poster.address.address }}</a></td>
                    <td>{{ _self.place(poster) }}</td>
                    <td data-toggle="tooltip" data-placement="top" title="{{ poster.description }}">{{ poster.description|u.truncate(10, '...') }}</td>
                    <td>{{ poster.createdAt|date("d.m.Y H:i") }}</td>
                    <td>{{ _self.simple_status(poster.active) }}</td>
                    <td>{{ _self.deletedAt(poster) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% macro simple_status(value)%}
    {% set text='times-circle' %}
    {% set color='error' %}
    {% if value %}
        {% set text='check-circle' %}
        {% set color='success' %}
    {% endif %}
    <span class="badge badge-{{ color }}"><i class="fas fa-{{ text }}"></i></span>
{% endmacro %}
{% macro place(poster)%}
    {{ poster.address.city }}{% if poster.address.district is not empty %} ({{ poster.address.district }} ){% endif %}
{% endmacro %}
{% macro deletedAt(poster)%}
    {% if poster.deletedAt is not null %}{{ poster.deletedAt|date("d.m.Y H:i") }}{% endif %}
{% endmacro %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('election_poster_overview') }}
{% endblock %}