{% extends 'base.html.twig' %}
{% block title %}{{ 'posters.title'|trans({}, 'maps') }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('stimulus_app') }}
{% endblock %}

{% block body %}
    <h1>{{ 'map'|trans({}, 'plakate') }}</h1>
    <div id="map" {{ stimulus_controller(
        'plakate-state',
        values
    ) }}> {% include 'snippets/loader.html.twig' %}</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('stimulus_app') }}

{% endblock %}