{% extends 'base.html.twig' %}
{% block title %}{{ 'posters.title'|trans({}, 'maps') }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mapLeafletLayer') }}
{% endblock %}

{% block body %}
    <h1>{{ 'map'|trans({}, 'plakate') }}</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('plakate', {'state': state, 'city': city}) }}" class="btn btn-secondary btn-sm" role="button" data-bs-toggle="button">{{ 'posters.without_wishes'|trans({}, 'maps') }}</a>
    {% endif %}
    <div id="map"> </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mapLeafletLayer') }}
    <script>

        const x = document.getElementById("demo");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.watchPosition(showPosition);
            } else {
                x.innerHTML = "{{ 'geo_not_supported'|trans({}, 'generic') }}";
            }
        }
        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
        }
    </script>
    <script>
let places = {
    {% for district, placeDetails in places %}
    '{{ district }}': [
        {% for place in placeDetails %}
        {
            'long': {{ place.address.longitude }},
            'lat': {{ place.address.latitude }},
            'desc': "{{ place.description }}",
            'district': "{{ place.address.district }}",
            'edit': "{{ path('plakat_admin_edit', {id: place.id}) }}",
            'createdAt': "{{ place.createdAt|date('d.m.Y H:i') }}",
            'thumbnail': "{{ thumbnail(place.thumbnailFileName) }}",
        },
        {% endfor %}
    ],
    {% endfor %}
};
let wahllokaldata = [
{% if wahllokale is defined %}
    {% for wahllokal in wahllokale %}
    {
        "long": "{{ wahllokal.longitude }}",
        "lat": "{{ wahllokal.latitude }}",
        "radius": {{ wahllokal.radius }},
        "description": "{{ wahllokal.description }}"
    },
    {% endfor %}
{% endif %}
]
    </script>

{% endblock %}